<% include header %>

<div class="wrapper">
    <div class="logo">
        <p><%- message %></p>
        <img src="/img/404-1.png"/>
        <div class="sub">
            <p><a href="/">Accueil</a></p>
        </div>
    </div>
</div>

  
<% include footer %>